doctype 5
html
	head
		title = 'Acrylc'
		link(rel='stylesheet', href='/stylesheets/style2.css')
		script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing.min.js")
	
	body
	
	
		#visual
			canvas( id="mycanvas", data-processing-sources="processing/simple.pde")	
		#container
			
			#title
				h1 Maya Kreidieh
			
			#content
			
				ul(id='contact')
					li(class = 'social-icon')
						a(href='mailto:mayakreidieh@gmail.com')
							image(src='images/Mail.png')
				
					li(class = 'social-icon')
						a(href='http://www.linkedin.com/in/mayakreidieh')
							image(src='images/Linkedin.png')
				
					
					li(class = 'social-icon')
						a(href='https://github.com/acrylc')
							image(src='images/Github.png')
							
					
					li(class = 'social-icon')
						a(href='https://www.facebook.com/mayakreidieh')
							image(src='images/Facebook.png')
									
				#summary
					p 
						| Hi! I'm a computer and communications engineer, painter, 
						| data visualization lover interested in human computer 
						| interaction. I am also a founding member and co-director at 
						| <a href='http://www.lambalabs.org'> <b>Lamba Labs</b> </a>.
